.middle-section  {
  text-align: center;
  padding: 5% 0;
  line-height: 2;
  color: #413F42;
}

body  {
  font-family: 'Merriweather', serif;
}


.top-section  {
  background-color: #91D8E4;
}

.logo {
  height: 120px;
  padding-left: 30px;
}
.values {
  padding: 5% 15% 0;
}
.value  {
  padding:0 50%;
}

.navbar {
  padding: 5% 15%;
  background-color: #91D8E4;
  position: fixed;
  font-size: 1.5rem;
  margin: 0;
  width: 100%;

}
.nav-link:hover {
  color: #000;
}

.nav-item {
  padding: 0 5px;
  color: #fff;
}
.links  {
  padding-right:60px;
}

.link {
  color: #fff;
}

.icon {
  padding-bottom: 30px;
  color:#91D8E4;
}

.icon:hover {
  opacity: 0.5;
  transition: 0.5s;
}

p {
  color: gray;
}

.horizontal  {
  width: 10%;
  border-top: dotted  gray 8px;
  margin: 15px auto;
}
h1  {
  font-family: 'Lobster', cursive;
  opacity: 0.9;
}

.ojo-picture, .olunlade-picture  {
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 15px;
}

.sub-section  {
  margin: 100px 0;
  text-align: center;
}
.dummy  {
  width: 0;
}
.ojo-bio, .olunlade-bio  {
  width: 400x;
}
.bio-carrier  {
  padding: 30px 200px;
}
h3 ,h4  {
  font-family: 'Merriweather', serif;
  color: #222222;
  font-size: 0.8rem;
}

.bottom-section  {
  margin: 0;
  text-align: center;
  background-color: #91D8E4;
  padding: 20px;

}
.jilbotics  {
  margin: 0;
}
.step {
  margin:20px auto;
}

.ojo-picture:hover, .olunlade-picture:hover {
  height: 160px;
  width: 160px;
  transition: .8s;
}
